
<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 header">
      <h1>Adventures in Italy</h1>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 content posts">
      <div>
      <p>Blog Posts</p>
      Post micro-blogs
      </div>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6"> 
    </div>
    <div class="col">
    </div>
  </div>
</div>
