<div class="container">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 header background">
      <h1>Adventures in Italy</h1>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 content posts background">
      <div>
      <h4>Blog Posts</h4>
      <br>
        <div>
         <% @post_all.each do |post| %>
          <p class="font"><%= post.title %></p>
          <p><%= post.content %></p>
          <p class="small"><%= post.created_at %></p>
         <% end %>
       </div> 
      </div>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6"> 
    </div>
    <div class="col">
    </div>
  </div>
</div>

 #<User id: 61, name: "goofy", email: "goofy@mail.com", password: "goofy">]> 