<div class="container-fluid">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-6 background_p top">
    	<div class="header_two">
		    <h2>Edit Profile</h2>
  		  <p>Enter the changes you wish to make in your account.</p>
        <p>Your current information</p>
        <div class="left">
           <p><strong>Name:</strong> <%= @name %></p>
           <p><strong>Email:</strong> <%= @email %></p>
           <p><strong>Password:</strong> <%= @password %></p>
        </div>
    	</div>
    </div>
    <div class="col">
    </div>
  </div>
   <div class="row">
    <div class="col">
    </div>
    <div class="col-6 background_p">
      <div class="padding">
        <form action="/create_account" method="POST">
        	<div class="form-group">
	          <label for="name">Name</label>
	          <input type="name" name="user[name]" class="form-control" id="name" placeholder="name">
       	  </div>
        	<div class="form-group">
	          <label for="exampleInputEmail1">Email address</label>
	          <input type="email" name="user[email]" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
       		</div>
        	<div class="form-group">
	          <label for="exampleInputPassword1">Password</label>
	          <input type="password" name="user[password]" class="form-control" id="exampleInputPassword1" placeholder="Password">
        	</div>
        	<button type="submit" id="button" class="btn btn-primary">Update Account</button>
      	</form>
      </div>
    </div>
    <div class="col">
    </div>
  </div>
   <div class="row">
    <div class="col">
    </div>
    <div class="col-6 background_p">
      <div class="padding padding_b">
       <button type="button" class="btn btn-success">Delete Account</button>
			</div>
     </div>
     <div class="col">
     </div>
  </div>
</div>